  <div class="wrapper">
    <h1>Клиенты</h1>
    <div class="grid">
      <div class="grid-controls">
        <button class="btn" (click)="onAdd()">
          <span class="icon-add"></span>
        </button>
        <button class="btn" [disabled]="!selectedUsers.length" (click)="onDelete()">
          <span class="icon-delete"></span>
        </button>
      </div>

      <ng-container *ngIf="users$ | async as users">
        <app-table-users [dataSource]="users" (edit)="onEdit($event)" [selectedUsers]="selectedUsers"
          (selectedUsersChange)="onSelectedUsersChange($event)">
        </app-table-users>
      </ng-container>

    </div>
  </div>